* {
    box-sizing: border-box;
}

.wrapper {
	width: 920px; 
	margin: 0 auto;
}

.page-header {
    background-color: #000;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.page-header:after {
    content: "";
    display: table;
    clear: both;
}

.main-title {
	text-transform: uppercase;
}

.todo-text {
  font-size: 22px;
  margin-right: 10px;
}

.complete {
  text-decoration: line-through;
  color: green;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.delete-btn:hover {
    background-color: #f44336;
    color: white;
}

input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.btn {
    padding: 9px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #bbb;
}